<h1>投稿内容</h1>
<div class="post_info">
<p>
  <strong>タイトル；</strong>
  <%= @post.title %>
</p>

<p>
  <strong>本文：</strong>
  <%= simple_format @post.text %>
</p>
</div>

<h2>コメント欄</h2>
<% @post.comments.each do |comment| %>
  <%= render 'comments/comment', comment: comment %>
<% end %>

<h2>コメントを追加</h2>
<%= render 'comments/form' %>

<%= link_to "戻る", posts_path %>
<%= link_to "編集", edit_post_path(@post) %>
